/**
* Application extension style
*/
.Lumens {

}

.Lumens a {
    -moz-outline-style: none; 
    outline: none;
    text-decoration:none;
}

.Lumens ul {
    list-style: none outside none;
}

li {
    -moz-outline-style: none; 
    list-style-type: none;
}

.Console-Title {
    font-size: 1.3em;
}

.Console-Brand {
    letter-spacing: 5px;
}

.Table-Ext {}

.Table-Ext td {
    cursor: pointer;
    height: 65px;
    font-size: 16px;
    overflow: hidden;
}

.Table-Ext th {
    cursor: pointer;
    height: 30px;
    font-size: 16px;
}

.Table-Ext > td > div {
    display: block;
    float: left;
}

.Table-Ext .Td-Text {
    padding-top: 9px;
}

.module {}

.Server-List-Nav {
}

.System-icon {
    float: left;
}

/**
 Style definition for data component
*/
#ID-Data-Component-Container {
    width: 100%;
    position: relative;
}

.Data-Component {
    border: 2px solid #CCCCCC;
    display: table;
    width:260px;
    height:90px;
    position: absolute;
    background-color: #E4E4E4;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;   
}

.Data-Component-stauts {
    left:225px;
    position:absolute;
}

.Data-Component-icon {
    padding-top: 12px;
    padding-left: 5px;
    float: left;
}

.Data-Component-Text {
    padding-top: 20px;
    padding-left: 5px;
    width: 180px;
    overflow: hidden;
    float: left;
}

.Data-Component-Title {
    float: top;
    font-size: 16px;
}

.Data-Component-ShortDsc {
    overflow: hidden;
    white-space: nowrap;  
    text-overflow: ellipsis;  
    -o-text-overflow: ellipsis; 
}