/**
* Application extension style
*/
.Lumens {

}

.Lumens a {
    -moz-outline-style: none; 
    outline: none;
    text-decoration:none;
}

.Lumens ul {
    list-style: none outside none;
}

li {
    -moz-outline-style: none; 
    list-style-type: none;
}

.console-title {
    font-size: 1.3em;
}

.console-brand {
    letter-spacing: 5px;
}

.table-ext {}

.table-ext td {
    cursor: pointer;
    height: 65px;
    font-size: 16px;
    overflow: hidden;
}

.table-ext th {
    cursor: pointer;
    height: 30px;
    font-size: 16px;
}

.table-ext > td > div {
    display: block;
    float: left;
}

.table-ext .td-text {
    padding-top: 9px;
}

.module {}

.server-list-nav {
}

.system-icon {
    float: left;
}

/**
 Style definition for data component
*/
#id-data-comp-container {
    width: 100%;
    position: relative;
}

.data-comp {
    border: 2px solid #CCCCCC;
    display: table;
    width:260px;
    height:90px;
    position: absolute;
    background-color: #E4E4E4;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;   
}

.data-comp-stauts {
    left:225px;
    position:absolute;
}

.data-comp-icon {
    padding-top: 12px;
    padding-left: 5px;
    float: left;
}

.data-comp-text {
    padding-top: 20px;
    padding-left: 5px;
    width: 180px;
    overflow: hidden;
    float: left;
}

.data-comp-title {
    float: top;
    font-size: 16px;
}

.data-comp-shortdsc {
    overflow: hidden;
    white-space: nowrap;  
    text-overflow: ellipsis;  
    -o-text-overflow: ellipsis; 
}