@font-face {
    font-family: 'linecons';
    src:url('fonts/linecons/linecons.eot');
    src:url('fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
        url('fonts/linecons/linecons.woff') format('woff'),
        url('fonts/linecons/linecons.ttf') format('truetype'),
        url('fonts/linecons/linecons.svg#linecons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src:url('fonts/codropsicons/codropsicons.eot');
    src:url('fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
        url('fonts/codropsicons/codropsicons.woff') format('woff'),
        url('fonts/codropsicons/codropsicons.ttf') format('truetype'),
        url('fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon/icomoon.eot?de4bve');
    src:url('fonts/icomoon/icomoon.eot?#iefixde4bve') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.woff?de4bve') format('woff'),
        url('fonts/icomoon/icomoon.ttf?de4bve') format('truetype'),
        url('fonts/icomoon/icomoon.svg?de4bve#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.side-nav ul li::before {
    position: absolute;
    left: 10px;
    z-index: -1;
    line-height: 3.5;
}

.icon-arrow-left:before {
    content: "\e6fd";
}

.icon:before {
    font-family: 'linecons', 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    margin-right: 0.6em;
    -webkit-font-smoothing: antialiased;
}

.designer-sidebar { font-size: 1.2em; }

.designer-sidebar .data-source-icon:before {
    content: "\e001";
}

.designer-sidebar .data-transf-icon:before {
    content: "\e61e";
}

.designer-sidebar .designer-sidebar-categories:before {
    content: "\e61a";
}

.designer-sidebar .data-source-icon-inst-default:before {
    content: "\e668";
}

.designer-sidebar .datasource-img {
    display: inline-block;
    margin-right: 0.4em;
}

.designer-sidebar-back {
    background: rgba(0,0,0,0.1);
    outline: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    font-size: 0.8em;
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important;
    position: relative;
    box-shadow: inset 0 1px rgba(0,0,0,0.1);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

.designer-sidebar-back::after {
    font-family: 'linecons', 'icomoon';;
    position: absolute;
    content: "\e037";
    right: 18px;
    font-size: 1.3em;
}

.designer-sidebar-datanode {
    padding-left: 25px !important;
}
