*.class

# Package Files #
*.jar
*.log
*.war
*.ear
*.prefs
/lumens-server/nb-configuration.xml
/lumens-server/nbactions.xml

/lumens-connector-orcl/target/
/lumens-connector-ws/target/
/lumens-connector-soap/target/
/lumens-connector-text/target/
/lumens-connector-sqlserver/target/
/target/
/assembler/target/
/lumens-addin/target/
/lumens-commons/target/
/lumens-model/target/
/lumens-processor/target/
/lumens-scheduler/target/
/lumens-engine/target/
/lumens-log/target/
/lumens-connector-db/target/
/lumens-management/target/
/lumens-sysdb/target/
lumens-web/target/
/lumens-web/nb-configuration.xml
/lumens-logsys/target/
