<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="shaofeng.wang">
        <title>JAMES</title> 
        <!-- 3rd Party Specific CSS -->
        <link rel="stylesheet" href="libs/jquery/css/smoothness/jquery-ui-1.10.0.css">
        <link rel="stylesheet" href="libs/codemirror/codemirror.css">
        <link rel="stylesheet" href="libs/codemirror/theme/eclipse.css">
        <link rel="stylesheet" href="libs/morris/morris.css">
        <link rel="stylesheet" href="libs/jqplot/jquery.jqplot.css">
        <link rel="stylesheet" href="libs/bootstrap/datetimepicker/css/bootstrap-datetimepicker.css">
        <link rel="stylesheet" href="libs/pnotify/css/pnotify.css">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="app/css/lumens_bootstrap.css">
        <!-- Application CSS -->
        <link rel="stylesheet" href="app/css/lumens.css">
        <!-- 3rd Party JS Plugins -->
        <script src="libs/jquery/js/jquery.js"></script>
        <script src="libs/jquery/js/jquery-ui.js"></script>
        <script src="libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="libs/bootstrap/datetimepicker/js/bootstrap-datetimepicker.js"></script>
        <script src="libs/raphael/raphael-min.js"></script>
        <script src="libs/walmik/timer.jquery.min.js"></script> 
        <script src="libs/morris/morris.min.js"></script> 
        <script src="libs/jqplot/jquery.jqplot.js"></script>
        <script src="libs/jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
        <script src="libs/jqplot/plugins/jqplot.donutRenderer.js"></script>
        <script src="libs/jqplot/plugins/jqplot.pieRenderer.js"></script>
        <script src="libs/codemirror/codemirror.js"></script>
        <script src="libs/codemirror/mode/javascript/javascript.js"></script>
        <script src="libs/pnotify/pnotify.js"></script>
        <script src="libs/classy.js"></script>
        <script src="libs/json2.js"></script>
        <script src="libs/base64.js"></script>
        <!-- Application JS  -->
        <script src="app/bootstrap.js"></script>
        <script src="app/i18n/en_US.js"></script>
        <script src="app/js/layout.js"></script>
        <script src="app/js/sysheader.js"></script>
        <script src="app/js/navbar.js"></script>
        <script src="app/js/navmenu.js"></script>
        <script src="app/js/tab.js"></script>
        <script src="app/js/list.js"></script> 
        <script src="app/js/tree.js"></script>
        <script src="app/js/component.js"></script>
        <script src="app/js/message.js"></script>
        <script src="app/js/project.js"></script>
        <script src="app/js/formatpath.js"></script>
        <script src="app/js/functions.js"></script>
        <!-- Angular JS -->
        <script src="libs/angular/angular.js"></script>
        <script src="libs/angular/angular-route.js"></script>
        <script src="libs/angular/angular-resource.js"></script>
        <!-- Application Entry JS -->
        <script src="app/lumens.js"></script>
        <!-- Application Angular Modules -->
        <script src="app/mvp/services.js"></script>
        <script src="app/mvp/directives.js"></script>
        <script src="app/mvp/controllers/main_controller.js"></script>
        <script src="app/mvp/controllers/dashboard_controller.js"></script>
        <script src="app/mvp/controllers/manage_controller.js"></script>
        <script src="app/mvp/controllers/designer_controller.js"></script>
    </head>
    <body class="lumens" ng-app="lumensTest">
        <div id="id-main-view" ng-controller="MainTestCtrl">
            <div style="float:top;width:1001px;;height:200px;">
                <div class="lumens-format-panel-border" style="float:left;width:500px;;height:200px;">
                    <rule-tree rule-data="ruleData" class="lumens-format-panel" style="width:100%;height:100%;"/>
                </div>
                <div format-list="displayTargetFormatList" class="lumens-format-panel" style="float:left;width:500px;;height:200px;"></div>
            </div>
            <div style="float:top;width:300px;;height:100px;">
                <textarea ng-model="ruleScript" class="form-control" rows="3" id="inputProjectDescription" style="width:300px;;height:100px;"></textarea>
            </div>
            <a class="lumens-button" ng-click="onCommand()">Save</a>
        </div>
        <script type="text/javascript">
            Lumens.appModule = angular.module('lumensTest', ["lumens-directives", "lumens-services"]);
            function MainTestCtrl($scope, $http, $compile, $sce, ProjectById, FormatList, RuleTreeBuilder) {
                window.LumensLog = console && console.log ? console : {
                    log: function () {
                    }
                };
                $scope.projectID = '1415415434544';
                ProjectById.get({project_id: $scope.projectID}, function (projectData) {
                    $scope.project = $.parseJSON(projectData.content.project[0].data).project;
                    ProjectById.operate({project_id: $scope.projectID}, {action: 'active'}, function (result) {
                        console.log(result);
                    });
                });
                $scope.onCommand = function (id) {
                    new PNotify({
                        title: 'Success',
                        addclass: "lumens-bootstrap",
                        text: "Opened project '" + $scope.projectID + "'",
                        type: "info",
                        delay: 1000,
                        buttons: {
                            closer: true
                        }
                    });
                }
            }
        </script>
    </body>
</html>
