<div style="padding-left:10px;">
    <textarea rows="4" cols="100" style="float:top; border: 1px solid #eeeeee; background-color: #eeeeee; width:100%;">{{project.description}}</textarea>
    <div>
        <span>Resources</span>
        <ul ng-repeat="datasource in project.datasource">
            <li>
                <span>{{datasource.name}}</span>
                <ul>
                    <li>{{datasource.description}}</li>
                </ul>
            </li>
        </ul>
        <span>Instruments</span>
        <ul ng-repeat="transformator in project.transformator">
            <li>
                <span>{{transformator.name}}</span>
                <ul>
                    <li>{{transformator.description}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
