<div id="projectListModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" ng-controller="ProjectListCtrl">
    <div class="modal-dialog modal-lg-ex">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Project Catalog</h4>
            </div>
            <div class="modal-body">
                <div id='projectLoading'><img src='app/css/img/loading.gif'/></div>
                <table class="table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody ng-init="selectIndex = 0">
                        <tr ng-repeat="project in projects" project-id="{{project.id}}" style="cursor: pointer;" ng-click="selectProject($event)">
                            <td>{{project.name}}</td>
                            <td>{{project.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="openProject()">Open Project</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>