<div ng-controller="TransformEditCtrl" style="height:100%;">
    <div style="height:50px;width:100%;float:top;background-color:#C2C2C2;">
        <div style="float:left;width:32%;height:100%;"></div>
        <div style="float:left;width:36%;height:100%;"></div>
        <div style="float:left;width:32%;height:100%;"></div>
    </div>
    <div style="height:calc(100% - 50px);width:100%;float:top;">
        <div format-list="sourceFormatList" class="lumens-format-panel" style="float:left;width:32%;height:100%;"></div>
        <div class="lumens-format-panel-border" style="float:left;width:36%;height:100%;">
            <div rule-entity="transformRuleEntity" class="lumens-format-panel" style="width:100%;height:100%;"></div>
        </div>
        <div format-list="targetFormatList" class="lumens-format-panel" style="float:left;width:32%;height:100%;"></div>
    </div>
</div>