<div ng-controller="DesginCmdCtrl">
    <div class="lumens-button-bar">
        <a class="lumens-button" ng-click="onCommand('id_new')"><i class="lumens-icon-add lumens-icon-gap"></i>{{i18n.id_new}}</a>
        <a class="lumens-button" ng-click="onCommand('id_open')"><i class="lumens-icon-open lumens-icon-gap"></i>{{i18n.id_open}}</a>
        <a class="lumens-button" ng-click="onCommand('id_save')"><i class="lumens-icon-save-disk lumens-icon-gap"></i>{{i18n.id_save}}</a>
        <a class="lumens-button" ng-click="onCommand('id_active')"><i class="lumens-icon-active lumens-icon-gap"></i>{{i18n.id_active}}</a>
        <a class="lumens-button" ng-click="onCommand('id_deploy')"><i class="lumens-icon-deploy lumens-icon-gap"></i>{{i18n.id_deploy}}</a>
        <a class="lumens-button" ng-click="onCommand('id_execute')"><i class="lumens-icon-exec lumens-icon-gap"></i>{{i18n.id_execute}}</a>
        <a class="lumens-button" ng-click="onCommand('id_close')"><i class="lumens-icon-close lumens-icon-gap"></i>{{i18n.id_close}}</a>
        <a class="lumens-button lumens-button-delete" ng-click="onCommand('id_delete')"><i class="lumens-icon-del lumens-icon-gap"></i>{{i18n.id_delete}}</a>
    </div>
    <div id="project_dialog" class="lumens-bootstrap lumens-modal-holder"></div>
</div>