<div class="lumens-bootstrap" style="padding-left: 10px; padding-right: 10px;">
    <div class="row">
        <div class="col-md-8">
            <div class="input-group input-group-sm lumens-control-size">
                <span class="input-group-addon" style="width: 30px;"><b>{{i18n.id_rule_foreach}}</b></span>
                <input type="text" class="form-control lumens-control" placeholder="source format full path">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-sm lumens-control-size">
                <span class="input-group-addon" style="width: 30px;"><b>{{i18n.id_rule_index}}</b></span>
                <input type="text" class="form-control lumens-control" placeholder="index variable name">
            </div>
        </div>
    </div>
</div>