<div class="lumens-button-bar">
    <div style="padding-top:20px;padding-left:20px;">
        For Each <input type="text" /> Index <input type="text" />
    </div>
</div>
<div class="lumens-button-bar">
    <div style="padding-top:20px;padding-left:20px;">
        For Each <input type="text" /> Index <input type="text" />
    </div>
</div>
<div class="lumens-button-bar">
    <div style="padding-top:20px;padding-left:20px;">
        For Each <input type="text" /> Index <input type="text" />
    </div>
</div>