<div id="projectCreateModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" ng-controller="ProjectCreateCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel"><i class="lumens-icon-project lumens-icon-gap"></i>{{i18n.id_new_project}}</h4>
            </div>
            <div class="modal-body table-responsive" ng-init="projectDescription = ''">
                <form role="form">
                    <div class="form-group">
                        <label for="inputProjectName">{{i18n.id_new_project_name}}</label>
                        <input ng-model="projectName" type="text" class="form-control input-lg" id="inputProjectName" placeholder="{{i18n.id_project_name_placeholder}}">
                    </div>
                    <div class="form-group">
                        <label for="inputProjectDescription">{{i18n.id_project_desc}}</label>
                        <textarea ng-model="projectDescription" class="form-control" rows="3" id="inputProjectDescription"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{i18n.id_close_project_create}}</button>
                <button type="button" class="btn btn-primary" ng-click="createProject()">{{i18n.id_create_project}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>