<table class="lumens-bootstrap lumens-addin">
    <tbody>
        <tr>
            <td class="lumens-label-style lumens-must">Name</td>
            <td class="lumens-value-style-colspan-3" colspan="3">
                <input type="text" ng-model="project.name" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style">Description</td>
            <td class="lumens-value-textarea-style-colspan-3" colspan="3">
                <textarea ng-model="project.description" class="form-control lumens-control">{{project.description}}</textarea>
            </td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td>
        </tr>
    </tbody>
</table>