<div ng-controller="RuleScriptCtrl" class="lumens-rule-script-parent-panel">
    <div class="lumens-button-bar">
        <a class="lumens-button" ng-click="onCommand('id_script_back')"><i class="lumens-icon-back lumens-icon-gap"></i>{{i18n.id_script_back}}</a>
        <a class="lumens-button" ng-click="onCommand('id_script_apply')"><i class="lumens-icon-apply lumens-icon-gap"></i>{{i18n.id_script_apply}}</a>
        <a class="lumens-button" ng-click="onCommand('id_rule_fmt_save')"><i class="lumens-icon-save lumens-icon-gap"></i>{{i18n.id_rule_fmt_save}}</a> 
        <a class="lumens-label-button lumens-config-button-pos lumens-gap-right" ng-click="onCommand('id_rule_configuration')"><i class="lumens-icon-rule-config-name lumens-icon-gap"></i>Configuration</a>
        <a class="lumens-label-button lumens-config-button-pos" ng-click="onCommand('id_rule_script')"><i class="lumens-icon2-script-config-name lumens-icon-gap"></i>Script</a>
    </div>
    <script-editor class="lumens-rule-script-panel" script-var="transformRuleScript"></script-editor>
    <script-config class="lumens-rule-script-panel" config-var="selectRuleItem" style='display: none; padding-top: 15px;'></script-config>
</div>
