<div ng-controller="RuleScriptCtrl" class="lumens-rule-script-panel">
    <div class="lumens-button-bar">
        <a class="lumens-button" ng-click="onCommand('id_script_back')"><i class="lumens-icon-back lumens-icon-gap"></i>{{i18n.id_script_back}}</a>
        <a class="lumens-button" ng-click="onCommand('id_script_validate')"><i class="lumens-icon-check lumens-icon-gap"></i>{{i18n.id_script_validate}}</a>
        <a class="lumens-button" ng-click="onCommand('id_script_apply')"><i class="lumens-icon-apply lumens-icon-gap"></i>{{i18n.id_script_apply}}</a>
        <a class="lumens-button" ng-click="onCommand('id_rule_fmt_save')"><i class="lumens-icon-save lumens-icon-gap"></i>{{i18n.id_rule_fmt_save}}</a>
    </div>
    <script-editor script-var="transformRuleScript" script-editor-holder="transformRuleScriptEditor" class="lumens-rule-script"/>
</div>
