<div class="lumens-transform-list" ng-controller="TransformListCtrl">
    <div ng-if="currentUIComponent.isTransformer()">
        <div class="lumens-button-bar">
            <a ng-if="theSourceNameList" class="lumens-label-button-light"><i class="lumens-icon2-input lumens-icon-gap"></i>{{theSourceNameList[0]}}</a>
            <i ng-if="theSourceNameList" class="lumens-icon-arrow-right"></i>
            <a class="lumens-label-button"><i class="lumens-icon2-middle lumens-icon-gap"></i>{{componentProps.Name.value}}</a>
            <i ng-if="theTargetNameList" class="lumens-icon-arrow-right"></i>
            <a ng-if="theTargetNameList" class="lumens-label-button-light"><i class="lumens-icon2-output lumens-icon-gap"></i>{{theTargetNameList[0]}}</a>
        </div>
        <div class="lumens-button-bar">
            <a class="lumens-button" ng-click="onRuleCommand('id_rule_new')"><i class="lumens-icon-add lumens-icon-gap"></i>{{i18n.id_rule_new}}</a>
            <a class="lumens-button" ng-click="onRuleCommand('id_rule_edit')"><i class="lumens-icon-edit lumens-icon-gap"></i>{{i18n.id_rule_edit}}</a>
            <a class="lumens-button lumens-button-delete" ng-click="onRuleCommand('id_rule_delete')"><i class="lumens-icon-del lumens-icon-gap"></i>{{i18n.id_rule_delete}}</a>
        </div>
        <div id="rule_edit_dialog" class="lumens-bootstrap lumens-modal-holder"></div>
        <div class="lumens-bootstrap table-responsive">
            <table class="table">
                <thead class="tab-header-bg">
                    <tr>
                        <th>{{i18n.id_name}}</th>
                        <th>{{i18n.id_in}}</th>
                        <th>{{i18n.id_out}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="lumens-transform-item"
                        ng-class="{'lumens-h-active':$index === selectIndex}"
                        ng-if="currentComponent && currentComponent.transform_rule_entry"
                        ng-repeat="ruleEntry in transformRuleEntryList track by $index" ng-dblclick="openTransformEditing(ruleEntry)" ng-click="onSelectRow($index)">
                        <td>{{ruleEntry.name}}</td><td>{{ruleEntry.source_format_name}}</td><td>{{ruleEntry.target_format_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="currentUIComponent.isDataSource()">
        <div class="lumens-button-bar">
            <a ng-if="theSourceNameList" class="lumens-label-button-light"><i class="lumens-icon2-input lumens-icon-gap"></i>{{theSourceNameList[0]}}</a>
            <i ng-if="theSourceNameList" class="lumens-icon-arrow-right"></i>
            <a class="lumens-label-button"><i class="lumens-icon2-middle lumens-icon-gap"></i>{{componentProps.Name.value}}</a>
            <i ng-if="theTargetNameList" class="lumens-icon-arrow-right"></i>
            <a ng-if="theTargetNameList" class="lumens-label-button-light"><i class="lumens-icon2-output lumens-icon-gap"></i>{{theTargetNameList[0]}}</a>
        </div>
        <div class="lumens-button-bar">
            <a class="lumens-button" ng-click="onFormatCommand('id_format_delete')"><i class="lumens-icon-del lumens-icon-gap"></i>{{i18n.id_format_delete}}</a>
        </div>
        <div id="format_edit_dialog" class="lumens-bootstrap lumens-modal-holder"></div>
        <div class="lumens-bootstrap table-responsive">
            <table class="table">
                <thead class="tab-header-bg">
                    <tr>
                        <th>{{i18n.id_name}}</th>
                        <th>{{i18n.id_direction}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="lumens-transform-item" style="cursor: pointer;" ng-if="inFormatEntryList" ng-class="{'lumens-h-active':$index === selectInFmtIndex}"
                        ng-repeat="fmtEntry in inFormatEntryList" ng-click="onSelectInFmtRow($index)">
                        <td>{{fmtEntry.name}}</td><td>{{fmtEntry.direction}}</td>
                    </tr>
                    <tr class="lumens-transform-item" style="cursor: pointer;" ng-if="outFormatEntryList" ng-class="{'lumens-h-active':$index === selectOutFmtIndex}"
                        ng-repeat="fmtEntry in outFormatEntryList" ng-click="onSelectOutFmtRow($index)">
                        <td>{{fmtEntry.name}}</td><td>{{fmtEntry.direction}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>