<div ng-controller="TransformEditCtrl" style="height:100%;width:100%;float:top;">
    <div class="lumens-format-parent-panel">
        <div class="lumens-format-bar">
            <div>
                <a class="lumens-label-button" ng-click="onCommand('id_format_reg_edit_btn', 'left')"><i class="lumens-icon-name2 lumens-icon-gap"></i>{{inputFormatRegName}}</a>
            </div>
            <div style="padding-left:8px;">
                <a class="lumens-icon-button" ng-click="onCommand('id_format_reg_filter_btn', 'left')"><i class="lumens-icon-filter"></i></a>
            </div>
            <div>
                <a class="lumens-icon-button2" ng-click="onCommand('id_format_reg_expand_btn', 'left', $event)"><i class="lumens-icon2-expand"></i></a>
            </div>
        </div>
        <div format-list="displaySourceFormatList" class="lumens-format-panel"></div>
        <div class="lumens-format-prop-parent-panel">
            <div class="lumens-prop-title">
                <div>
                    <a class="lumens-label-button"><i class="lumens-icon-name2 lumens-icon-gap"></i>{{i18n.id_prop_title}}</a>
                </div>
            </div>
            <format-prop class="lumens-format-prop-panel lumens-bootstrap" prop-data="displaySourceFormatList.select_format_prop"></format-prop>
        </div>
    </div>
    <div id="rulePanelId" class="lumens-rule-panel lumens-format-panel-border">
    </div>
    <div class="lumens-format-parent-panel">
        <div class="lumens-format-bar">
            <div>
                <a class="lumens-label-button" ng-click="onCommand('id_format_reg_edit_btn', 'right')"><i class="lumens-icon-name2 lumens-icon-gap"></i>{{outputFormatRegName}}</a>
            </div>
            <div style="padding-left:8px;">
                <a class="lumens-icon-button" ng-click="onCommand('id_format_reg_filter_btn', 'right')"><i class="lumens-icon-filter"></i></a>
            </div>
            <div>
                <a class="lumens-icon-button2" ng-click="onCommand('id_format_reg_expand_btn', 'right', $event)"><i class="lumens-icon2-expand"></i></a>
            </div>
        </div>
        <div format-list="displayTargetFormatList" class="lumens-format-panel"></div>
        <div class="lumens-format-prop-parent-panel">
            <div class="lumens-prop-title">
                <div>
                    <a class="lumens-label-button"><i class="lumens-icon-name2 lumens-icon-gap"></i>{{i18n.id_prop_title}}</a>
                </div>
            </div>
            <format-prop class="lumens-format-prop-panel lumens-bootstrap" prop-data="displayTargetFormatList.select_format_prop"></format-prop>
        </div>
    </div>
    <div id="reg_edit_dialog" class="lumens-bootstrap lumens-modal-holder"></div>
</div>