<div class="lumens-transform-list" ng-controller="TransformListCtrl">
    <div ng-if="currentUIComponent.configure.category_info.type !== 'datasource'">
        <div class="lumens-button-bar">
            <a class="lumens-label-button-light" ng-click="onCommand('id_format_reg_edit_btn')"><i class="lumens-icon2-input lumens-icon-gap"></i>{{theSourceNameList[0]}}</a>
            <i class="lumens-icon-arrow-right"></i>
            <a class="lumens-label-button" ng-click="onCommand('id_format_reg_edit_btn')"><i class="lumens-icon2-middle lumens-icon-gap"></i>{{componentProps.Name.value}}</a>
            <i class="lumens-icon-arrow-right"></i>
            <a class="lumens-label-button-light" ng-click="onCommand('id_format_reg_edit_btn')"><i class="lumens-icon2-output lumens-icon-gap"></i>{{theTargetNameList[0]}}</a>
        </div>
        <div class="lumens-button-bar">
            <a class="lumens-button" ng-click="onRuleCommand('id_rule_new')"><i class="lumens-icon-add lumens-icon-gap"></i>{{i18n.id_rule_new}}</a>
            <a class="lumens-button" ng-click="onRuleCommand('id_rule_edit')"><i class="lumens-icon-edit lumens-icon-gap"></i>{{i18n.id_rule_edit}}</a>
            <a class="lumens-button lumens-button-delete" ng-click="onRuleCommand('id_rule_delete')"><i class="lumens-icon-del lumens-icon-gap"></i>{{i18n.id_rule_delete}}</a>
        </div>
        <div id="rule_edit_dialog" class="lumens-bootstrap lumens-modal-holder"></div>
        <div class="lumens-bootstrap  table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Input</th>
                        <th>Output</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="lumens-transform-item"
                        ng-class="{'lumens-h-active':$index === selectIndex}"
                        ng-if="currentComponent && currentComponent.transform_rule_entry"
                        ng-repeat="ruleEntry in transformRuleEntryList" ng-dblclick="openTransformEditing(ruleEntry)" ng-click="onSelectRow($index)">
                        <td>{{ruleEntry.name}}</td><td>{{ruleEntry.source_format_name}}</td><td>{{ruleEntry.target_format_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="currentUIComponent.configure.category_info.type === 'datasource'">
        <div style="display: inline-block; height: 48px; width: 100%; border-bottom: 1px solid rgb(214, 214, 214);">
            <div style="float: left; padding-top: 6px; margin-right: 15px;">Datasource: {{componentProps.Name.value}}</div>
        </div>
        <div class="lumens-button-bar">
            <a class="lumens-button" ng-click="onFormatCommand('id_format_new')"><i class="lumens-icon-add lumens-icon-gap"></i>{{i18n.id_format_new}}</a>
            <a class="lumens-button" ng-click="onFormatCommand('id_format_delete')"><i class="lumens-icon-del lumens-icon-gap"></i>{{i18n.id_format_delete}}</a>
        </div>
        <div id="format_edit_dialog" class="lumens-bootstrap lumens-modal-holder"></div>
        <div class="lumens-bootstrap table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Input</th>
                        <th>Output</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="lumens-transform-item" style="cursor: pointer;"
                        ng-if="currentComponent && currentComponent.transform_rule_entry"
                        ng-repeat="ruleEntry in transformRuleEntryList" ng-dblclick="openTransformEditing(ruleEntry)">
                        <td>{{ruleEntry.name}}</td><td>{{ruleEntry.source_format_name}}</td><td>{{ruleEntry.target_format_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>