<table style="margin-top: 10px;" class="lumens-bootstrap lumens-addin">
    <tbody>
        <tr>
            <td class="lumens-label-style lumens-must">{{componentProps.Name.label}}</td>
            <td class="lumens-value-style-colspan-3" colspan="3">
                <input type="text" ng-model="componentProps.Name.value" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style">{{componentProps.Description.label}}</td>
            <td class="lumens-value-textarea-style-colspan-3" colspan="3">
                <textarea ng-model="componentProps.Description.value" class="form-control lumens-control">{{componentProps.Description.value}}</textarea>
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style"></td>
            <td class="lumens-value-style"></td>
            <td class="lumens-label-style"></td>
            <td class="lumens-value-style"></td>
        </tr>
    </tbody>
</table>