
/****************/
* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}
html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    overflow: hidden;
}
.hrcms {

}
.hrcms table {
    border-spacing: 0;
    border-collapse: collapse;
    white-space:nowrap;
}
.hrcms .hrcms-button {
    float:left;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    font-size: 12px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
.hrcms .hrcms-h-active {
    border-top: 1px solid rgb(61, 61, 61);
    border-bottom: 1px solid rgb(180, 180, 180);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 -1px 3px rgba(40, 40, 40, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 -1px 3px rgba(40, 40, 40, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 -1px 3px rgba(40, 40, 40, 0.2);
    background-color: rgb(2, 83, 138); /*Use an background-image to work on IE7,8 */
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.hrcms .hrcms-v-active {
    border-left: 1px solid rgb(61, 61, 61);
    border-right: 1px solid rgb(162, 162, 162);
    background-color: rgb(2, 83, 138);
    -moz-box-shadow: inset 1px 0 3px rgba(0, 0, 0, 0.2), inset -1px 0 3px rgba(40, 40, 40, 0.2);
    -webkit-box-shadow: inset 1px 0 3px rgba(0, 0, 0, 0.2), inset -1px 0 3px rgba(40, 40, 40, 0.2);
    box-shadow: inset 1px 0 3px rgba(0, 0, 0, 0.2), inset -1px 0 3px rgba(40, 40, 40, 0.2); 
    color:white !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* HRCMS Header styles */
.hrcms .hrcms-header-constainer {
    width:100%;
    height: auto;
    float: top;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2000;
}
.hrcms .hrcms-header { 
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    background-color: #4c4a70;
    background-image: url(images/bg_40x40.png);
    float: top;
    height:52px;
    width:100%;
    top:0px;
    left:0px;
    right:0px;
}
.hrcms .hrcms-logo {
    background-image: url(images/hrcms.png);
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
.hrcms #hrcms-system-title {
    margin-left: 10px;
    font-size: 20px !important;
    font-weight: bolder;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.hrcms .hrcms-toolbar {
    height: 25px;
    width: auto;
}
.hrcms .hrcms-toolbar td {
    height: 25px;
    width: auto;
}
.hrcms .hrcms-toolbar .hrcms-toolbar-button {
    border: 1px solid #cacaca;
    background-repeat: no-repeat;
    height: 23px;
    width: 24px;
    cursor: pointer;
}
.hrcms .hrcms-toolbar div.hrcms-toolbar-button:hover {
    background-color: #dddddd;
}
.hrcms .hrcms-toolbar-button-begin {
    background-image: url(images/begin.png);
}
.hrcms .hrcms-toolbar-button-prev {
    background-image: url(images/prev.png);
}
.hrcms .hrcms-toolbar-button-next {
    background-image: url(images/next.png);
}
.hrcms .hrcms-toolbar-button-end {
    background-image: url(images/end.png);
}
.hrcms .hrcms-toolbar-button-add {
    background-image: url(images/add.png);
}
.hrcms .hrcms-toolbar-button-delete {
    background-image: url(images/delete.png);
}
.hrcms .hrcms-toolbar-button-reload {
    background-image: url(images/reload.png);
}
.hrcms .hrcms-toolbar-button-find {
    background-image: url(images/find.png);
}
.hrcms .hrcms-nav-toolbar {
    position: relative;
    height: 32px;
    width: 100%;
    display: table;
    border-bottom: 1px solid rgb(150, 150, 150);
    background-image: url(images/bg_40x40_light.png);
}
.hrcms .hrcms-nav-toolbar ul{
    padding: 0;
    margin: 0 0 10px 25px;
}
.hrcms .hrcms-nav-toolbar ul {
    display: block;
    list-style: none;
}
.hrcms .hrcms-nav-toolbar li {
    font-size: 12px;
    font-weight: bold;
    color: rgb(53, 53, 53);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    text-align: -webkit-match-parent;
    display: block;
    line-height: 32px; 
    float: left;
}
.hrcms .hrcms-nav-toolbar li a {
    cursor: pointer;
}
.hrcms .hrcms-nav-toolbar span {
    margin-right: 15px;
    margin-left: 15px;
}
/* HRCMS Header styles End*/
/* HRCMS Content styles */
.hrcms .hrcms-content-constainer {
    position: relative;
    background-color: rgb(240, 240, 240);
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
    height:100%;
    overflow: hidden;
}
/*** HRCMS secondary menu styles */
.hrcms .hrcms-secondary-menu-container {
    width:100%;
    height:100%;
    display:table;
    float:left;
    position:relative; 
    background-color:rgb(240, 240, 240);
}
.hrcms .hrcms-secondary-menu {
    position:relative;
    padding:0px;
    margin:0px;
    display:table;
    background-color:rgb(240, 240, 240);
}
.hrcms .hrcms-secondary-menu-section {
    font-weight: bold;
    margin-left: 8px;
    color: #7c7bad;
}
.hrcms .hrcms-secondary-submenu {
    display: block;
    list-style-type: disc;
    padding: 2px 0 8px 0;
    margin: 0;

}
.hrcms .hrcms-secondary-submenu li {
    text-align: -webkit-match-parent;
    list-style-type: none;
    padding: 1px 0 1px 20px !important;
}
.hrcms .hrcms-secondary-submenu li a {
    display: block;
    color: #4c4c4c;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    padding: 2px 4px 2px 0;
    text-decoration: none;
    cursor: pointer;
}
.hrcms .hrcms-secondary-submenu .hrcms-h-active a {
    color: white;
}
.hrcms .hrcms-secondary-submenu .hrcms-secondary-menu-text {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 85%;
}
/*** HRCMS secondary menu styles end */
/*** HRCMS workspace styles */
.hrcms .hrcms-workspace-container {
    display: inline-block;
    background-color:rgb(240, 240, 240);
    overflow: hidden;
    position:relative;
    width:100%;
    height:100%;
}
.hrcms .hrcms-workspace-header {
    width: 100%;
    height: auto;
    float: top;
    background-color: rgb(240, 240, 240);
}
.hrcms .hrcms-workspace-nav {
    width: auto;
    height: 30px;
    float: top;
}
.hrcms .hrcms-workspace-toolbar {
    width: 100%;
    height: 36px;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid #cacaca;
}
.hrcms .hrcms-workspace-nav span {
    color: gray;
    text-shadow: 0 1px 1px white;
    font-size: 14px !important;
    font-weight: bold;
}
.hrcms .hrcms-workspace-nav-back {
    cursor: pointer;
}
.hrcms .hrcms-workspace-nav-current {
    color: black !important;
}
.hrcms-workspace-nav-padding {
    padding-top: 15px;
    padding-left: 15px;
}
.hrcms .hrcms-datagrid-container {
    background-color:rgb(240, 240, 240);
    position: relative;
    display: block;
    overflow: auto;
}
.hrcms .hrcms-datagrid {
    border-top: 1px solid rgba(255, 255, 255, .8);
    border-right: 1px solid #cacaca;
    display: table;
    border-spacing: 2px;
}
.hrcms .hrcms-datagrid thead {
    display: table-header-group;
    border-spacing: 3px !important;
    background: #eeeeee;
    vertical-align: top;
    line-height: 25px;
    height: 25px;
}
.hrcms .hrmcs-datagrid tbody {
    display: table-row-group;
}
.hrcms .hrcms-datagrid tr {
    display: table-row;
    cursor: pointer;
}
.hrcms .hrcms-datagrid-row {
}
.hrcms tr.hrcms-datagrid-row:hover {
    background-color: #dddddd;
}
.hrcms .hrcms-datagrid-header {
    cursor: pointer;
    color: #4c4c4c;
}
.hrcms .hrcms-datagrid-header-text {
}
.hrcms .hrcms-datagrid thead th {
    display: table-cell;
    text-align: left;
    line-height: 20px;
    height: 20px;
    padding: 3px 8px;
    white-space: nowrap;
    border-bottom: 2px solid #cacaca;
    border-left: 1px solid #dfdfdf;
    background-repeat: no-repeat;
    background-position: right center;
}
.hrcms .hrcms-datagrid .sortable.sortup {
    background-image: url(images/sortup_16x16.png);
}
.hrcms .hrcms-datagrid .sortable.sortdown {
    background-image: url(images/sortdown_16x16.png);
}
.hrcms .hrcms-datagrid td, .hrcms .hrcms-datagrid th {
    display: table-cell;
    white-space: nowrap;
    text-align: left;
    line-height: 18px;
    height: 18px;
    padding: 3px 6px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dfdfdf;
}
.hrcms .hrcms-datagrid tfoot {
    display: table-footer-group;
    border-spacing: 3px !important;
}
.hrcms .hrcms-datagrid tfoot td {
    text-align: left;
    vertical-align: middle;
    line-height: 20px;
    height: 20px;
    border-top: 2px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    background: #eeeeee;
    font-weight: bold;
}
/*** HRCMS workspace styles end */