<div style="margin-top: 14px;">
    <div style="padding-left: 10px; float:left; display: block;">
        <div class="container row">
            <div class="col-xs-4">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter search keyword in name or description">
            </div>
            <div class="col-xs-1">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
            <div class="col-xs-3" style="float:left;">
                <select class="form-control input-sm">
                    <option>Name</option>
                    <option>Create time</option>
                    <option>Last modify time</option>
                </select>
            </div>
            <div class="col-xs-1">
                <button type="submit" class="btn btn-default">Order</button>
            </div>
        </div>
    </div>
</div>