<div style="margin-left: 10px; margin-right:10px;">
    <div class="lumens-button-bar">
        <!-- Single button -->
        <a class="lumens-button" ng-click="onCommand('id_exec_log_refresh')"><i class="lumens-icon2-refresh lumens-icon-gap"></i>{{i18n.id_exec_log_refresh}}</a>
        <a class="lumens-button" ng-click="onCommand('id_more')"><i class="lumens-icon2-more lumens-icon-gap"></i>{{i18n['id_more']}}</a>
        <a class="lumens-button" data-toggle="modal" data-target="#jobDetailModal" ng-click="onCommand('id_detail')"><i class="lumens-icon-detail lumens-icon-gap"></i>{{i18n['id_detail']}}</a>
        <div class="lumens-bootstrap">
            <div class="btn-group" style="padding-left: 8px; padding-top: 7px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{i18n[currentLogType]}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a style="cursor:pointer;" ng-click="onCommand('id_server_log')">{{i18n.id_server_log}}</a></li>
                    <li><a style="cursor:pointer;" ng-click="onCommand('id_job_log')">{{i18n.id_job_log}}</a></li>
                </ul>
            </div>
        </div>
        <div class="lumens-bootstrap" ng-include="job_create_template"></div>
    </div>
</div>