<div class="lumens-bootstrap">
    <div class="table-responsive" style="padding-top: 10px; padding-left: 30px; padding-right: 30px;">
        <!-- <div id='projectLoading'><img src='app/css/img/loading.gif'/></div> -->
        <table class="table">
            <thead>
                <tr>
                    <th>Job Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job_item in jobs" job-id="{{job_item.id}}" style="cursor: pointer;"
                    ng-class="{'lumens-h-active':$index === selectJobIndex}" ng-click="openJobDetail($index, $event)">
                    <td>{{job_item.name}}</td><td>{{job_item.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>