<div class="lumens-bootstrap">
    <div class="table-responsive" style="padding-top: 10px; padding-left: 30px; padding-right: 30px;">
        <div id='jobLoading' style="width: 100%;">
            <img style="position:absolute; top: 30px; left: 30%;" src='app/css/images/loading.gif' alt="{{i18n.id_loading}}"/>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Job Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job_item in jobs track by $index" job-id="{{job_item.id}}" style="cursor: pointer;"
                    ng-class="{'lumens-h-active':selectJobIndex === {{$index}} }" ng-click="selectJob($index)">
                    <td>{{job_item.name}}</td><td>{{job_item.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>