<div class="lumens-bootstrap">
    <div class="table-responsive" style="width: 100%; height: 100%;">
        <div id='jobLogLoading' style="alignment-adjust: central;"><img src='app/css/img/loading.gif' alt="{{i18n.id_loading}}"/></div>
        <table class="table">
            <tbody>
                <tr ng-repeat="message in jobLogContent.messages track by $index" style="cursor: pointer;"
                    ng-class="{'lumens-h-active':selectJobLogItemIndex === {{$index}} }" ng-click="selectJobLogItem($index)">
                    <td>{{message}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>