<div style="margin-left: 10px; margin-right:10px;">
    <div class="lumens-button-bar">
        <a class="lumens-button" data-toggle="modal" data-target="#jobDetailModal" ng-click="onCommand('id_new')"><i class="lumens-icon-add lumens-icon-gap"></i>{{i18n.id_new}}</a>
        <a class="lumens-button" data-toggle="modal" data-target="#jobDetailModal" ng-click="onCommand('id_edit')"><i class="lumens-icon-edit lumens-icon-gap"></i>{{i18n['id_edit']}}</a>
        <a class="lumens-button" ng-click="onCommand('id_start')"><i class="lumens-icon-exec lumens-icon-gap"></i>{{i18n.id_start}}</a>
        <a class="lumens-button" ng-click="onCommand('id_stop')"><i class="lumens-icon-close lumens-icon-gap"></i>{{i18n.id_stop}}</a>
        <a class="lumens-button lumens-button-delete" ng-click="onCommand('id_delete')"><i class="lumens-icon-del lumens-icon-gap"></i>{{i18n.id_delete}}</a>
        <div class="lumens-bootstrap" ng-include="job_create_template"></div>
        <div class="lumens-bootstrap" ng-include="job_add_proj_manage_template"></div>
    </div>
</div>