<div ng-include="manage_side_bar_template" style="width: 252px; height: 100%; float: left; display: block; background-color: #E4E4E4;"></div>
<div style="width: calc(100% - 252px); height: 100%; float: left; display: block; ">
    <div ng-include="job_bar_template"></div>
    <div class="lumens-bootstrap" style="margin-top: 8px; height: 30px; width: 100%; background-color: #E4E4E4; border-top: 1px solid rgb(245, 245, 245); border-bottom: 1px solid rgb(197, 197, 197);"></div>
    <div id="jobList" class="lumens-job-list" style="width: calc(100% - 20px); padding-top: 5px; padding-left: 10px; padding-right: 10px;"></div>
</div>
