<div id="manageNavMenu" class="lumens-menu-container" style="float: left; overflow-y: auto; overflow-x: hidden; width: 220px; height: 100%; float: left; display: block;"></div>
<div ng-switch on="manageSelection"  style="width: calc(100% - 221px); height: 100%;  float: left; display: block;">
    <div class="animate-switch" ng-switch-default style="width: 100%; height: 100%; float: left; display: block;" ng-controller="JobManagementCtrl">
        <div ng-include="job_bar_template"></div>
        <!-- TODO need to remove or hide the job panel -->
        <div id="jobManagementHolder" style="width: 100%; height: calc(100% - 47px);"></div>
    </div>
</div>
