<table class="lumens-bootstrap lumens-addin">
    <tbody>
        <tr>
            <td class="lumens-label-style lumens-must">{{componentProps.Name.label}}</td>
            <td class="lumens-value-style-colspan-3" colspan="3">
                <input type="text" ng-model="componentProps.Name.value" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style lumens-must">{{componentProps.databaseDriver.label}}</td>
            <td class="lumens-value-style-colspan-3" colspan="3">
                <input type="text" ng-model="componentProps.databaseDriver.value" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style lumens-must">{{componentProps.databaseConnectionUrl.label}}</td>
            <td class="lumens-value-style-colspan-3" colspan="3">
                <input type="text" ng-model="componentProps.databaseConnectionUrl.value" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style lumens-must">{{componentProps.databaseSourceUserName.label}}</td>
            <td class="lumens-value-style">
                <input type="text" ng-model="componentProps.databaseSourceUserName.value" class="form-control lumens-control" />
            </td>
            <td class="lumens-label-style">{{componentProps.databaseSourcePassword.label}}</td>
            <td class="lumens-value-style">
                <input type="password" ng-model="componentProps.databaseSourcePassword.value" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style">{{componentProps.PageSize.label}}</td>
            <td class="lumens-value-style">
                <input type="number" ng-model="componentProps.PageSize.value" class="form-control lumens-control" value="1000"/>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td class="lumens-label-style">{{componentProps.SessionAlter.label}}</td>
            <td class="lumens-value-style-colspan-3" colspan="3">
                <input type="text" ng-model="componentProps.SessionAlter.value" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style">{{componentProps.Description.label}}</td>
            <td class="lumens-value-textarea-style-colspan-3" colspan="3">
                <textarea ng-model="componentProps.Description.value" class="form-control lumens-control">{{componentProps.Description.value}}</textarea>
            </td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td>
        </tr>
    </tbody>
</table>