<style type="text/css">
    input, textarea {
        font-size: 16px;
        margin-left:3px;
        width:100%;
        height:100%;
    }
    .must {
        color: red;
    }
    .label-style {
        width: 130px;
        height: 30px;
        text-align: right;
    }
    .value-style {
        width: 250px;
        height: 30px;
        border-left:1px solid rgb(163, 163, 163);
    }
    .value-style-colspan-3 {
        height: 30px;
        border-left: 1px solid rgb(163, 163, 163);
    }
    .value-textarea-style-colspan-3 {
        height: 60px;
        border-left: 1px solid rgb(163, 163, 163);
    }
</style>
<table style="margin-top: 10px;">
    <tbody>
        <tr>
            <td class="label-style must">{{componentI18N.Name}}</td>
            <td class="value-style-colspan-3" colspan="3">
                <input type="text" ng-model="componentProps.Name.value"/>
            </td>
        </tr>
        <tr>
            <td class="label-style must">{{componentI18N.WSDL}}</td>
            <td class="value-style-colspan-3" colspan="3">
                <input type="text" ng-model="componentProps.WSDL.value"/></td>
        </tr>
        <tr>
            <td class="label-style">{{componentI18N.User}}</td>
            <td class="value-style">
                <input type="text" ng-model="componentProps.User.value"/></td>
            <td class="label-style">{{componentI18N.Password}}</td>
            <td class="value-style">
                <input type="password" ng-model="componentProps.Password.value"/></td>
        </tr>
        <tr>
            <td class="label-style">{{componentI18N.ProxyAddress}}</td>
            <td class="value-style">
                <input type="text" ng-model="componentProps.ProxyAddress.value"/>
            </td>
            <td class="label-style">{{componentI18N.ProxyPort}}</td>
            <td class="value-style">
                <input type="number" ng-model="componentProps.ProxyPort.value"/>
            </td>
        </tr>
        <tr>
            <td class="label-style">{{componentI18N.ProxyUser}}</td>
            <td class="value-style">
                <input type="text" ng-model="componentProps.ProxyUser.value"/></td>
            <td class="label-style">{{componentI18N.ProxyPassword}}</td>
            <td class="value-style">
                <input type="password" ng-model="componentProps.ProxyPassword.value"/>
            </td>
        </tr>
        <tr>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td class="label-style">{{componentI18N.Description}}</td>
            <td class="value-textarea-style-colspan-3" colspan="3">
                <textarea ng-model="componentProps.Description.value">{{componentProps.Description.value}}</textarea>
            </td>
        </tr>
    </tbody>
</table>