<ul id="ID_Designer_SideBar"class="designer-sidebar nav navbar-nav side-nav" ng-controller='DesignerSidebarCtrl'>
    <li><a class="icon {{sidebar.current_menus.icon_class}}" href="#"></i>{{sidebar.current_menus.name}}</a></li>
    <li id="ID_SideBar_Back" ng-hide="sidebar.SidebarBackHide" ng-click="sidebar.onMenuBackClick()">
        <a class="designer-sidebar-back" href="#">back</a>
    <li>
    <li ng-repeat="menu in sidebar.current_menus.connectors" ng-click="sidebar.onSidebarMenuClick(menu)">
        <a datsrc-drag class="icon" ng-class='{"icon-arrow-left": sidebar.hasChildren(menu), "designer-sidebar-datanode": !sidebar.hasChildren(menu)}' href="#">
            <i ng-if='sidebar.hasChildren(menu)' class="icon {{menu.icon_class}}"></i>
            <img ng-if='!sidebar.hasChildren(menu)' src='data:image/png;base64,{{menu.icon}}' class='datasource-img' />
            {{menu.name}}
        </a>
    </li>
</ul>