<table class="lumens-bootstrap lumens-addin">
    <tbody>
        <tr>
            <td class="lumens-label-style lumens-must">{{componentProps.Name.label}}</td>
            <td class="lumens-value-style-colspan-3" colspan="3">
                <input type="text" ng-model="componentProps.Name.value" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style lumens-must">{{componentProps.OJDBC.label}}</td>
            <td class="lumens-value-style-colspan-3" colspan="3">
                <input type="text" ng-model="componentProps.OJDBC.value" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style lumens-must">{{componentProps.ConnectionURL.label}}</td>
            <td class="lumens-value-style-colspan-3" colspan="3">
                <input type="text" ng-model="componentProps.ConnectionURL.value" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style lumens-must">{{componentProps.User.label}}</td>
            <td class="lumens-value-style">
                <input type="text" ng-model="componentProps.User.value" class="form-control lumens-control" />
            </td>
            <td class="lumens-label-style">{{componentProps.Password.label}}</td>
            <td class="lumens-value-style">
                <input type="password" ng-model="componentProps.Password.value" class="form-control lumens-control" />
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style">{{componentProps.PageSize.label}}</td>
            <td class="lumens-value-style">
                <input type="number" ng-model="componentProps.PageSize.value" class="form-control lumens-control" value="1000"/>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td class="lumens-label-style">{{componentProps.SessionAlter.label}}</td>
            <td class="lumens-value-style-colspan-3" colspan="3">
                <textarea ng-model="componentProps.SessionAlter.value" class="form-control lumens-control">{{componentProps.SessionAlter.value}}</textarea>
            </td>
        </tr>
        <tr>
            <td class="lumens-label-style">{{componentProps.Description.label}}</td>
            <td class="lumens-value-textarea-style-colspan-3" colspan="3">
                <textarea ng-model="componentProps.Description.value" class="form-control lumens-control">{{componentProps.Description.value}}</textarea>
            </td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td>
        </tr>
    </tbody>
</table>